<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xkazxx.mapper.FinalMeasureCheckMapper">
  <resultMap id="BaseResultMap" type="com.xkazxx.bean.FinalMeasureCheck">
    <id column="f_measure_check_id" jdbcType="VARCHAR" property="fMeasureCheckId"/>
    <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
    <result column="check_item" jdbcType="VARCHAR" property="checkItem"/>
    <result column="cdate" jdbcType="TIMESTAMP" property="cDate"/>
    <result column="measure_data" jdbcType="VARCHAR" property="measureData"/>
    <result column="emp_id" jdbcType="VARCHAR" property="empId"/>
    <result column="result" jdbcType="VARCHAR" property="result"/>
    <result column="note" jdbcType="VARCHAR" property="note"/>
  </resultMap>
  <sql id="Basic_column_List">
    f_measure_check_id, order_id, check_item, cdate, measure_data, emp_id, result,note
  </sql>
  <select id="findAllMeasurement" resultMap="BaseResultMap">
    select
    <include refid="Basic_column_List" />
    from final_measuret_check
  </select>
  <resultMap id="BaseResultMapPage" type="com.xkazxx.bean.FinalMeasureCheck">
    <id column="f_measure_check_id" jdbcType="VARCHAR" property="fMeasureCheckId"/>
    <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
    <result column="check_item" jdbcType="VARCHAR" property="checkItem"/>
    <result column="cdate" jdbcType="TIMESTAMP" property="cDate"/>
    <result column="measure_data" jdbcType="VARCHAR" property="measureData"/>
    <result column="emp_id" jdbcType="VARCHAR" property="empId"/>
    <result column="result" jdbcType="VARCHAR" property="result"/>
    <result column="note" jdbcType="VARCHAR" property="note"/>
    <association property="empName" column="emp_id" select="com.xkazxx.mapper.UnqualifyApplyMapper.selectEmpNameById"/>
  </resultMap>
  <select id="findMeasurementByPage" resultMap="BaseResultMapPage">
    select
    <include refid="Basic_column_List"/>
    from final_measuret_check
  </select>
  <select id="search_fMeasureCheck_by_fMeasureCheckId" resultMap="BaseResultMapPage">
    select
    <include refid="Basic_column_List"/>
    from final_measuret_check where f_measure_check_id
    like concat("%",#{f_measure_check_id},"%")
  </select>
  <select id="search_fMeasureCheck_by_orderId" resultMap="BaseResultMapPage">
    select
    <include refid="Basic_column_List"/>
    from final_measuret_check where order_id
    like concat("%",#{order_id},"%")
  </select>
  <update id="addFinalMeasureCheck" parameterType="com.xkazxx.bean.FinalMeasureCheck">
    insert into final_measuret_check (f_measure_check_id, order_id, check_item,
    cdate, measure_data, emp_id, result,note)
    values (#{finalMeasureCheck.fMeasureCheckId}, #{finalMeasureCheck.orderId},
    #{finalMeasureCheck.checkItem}, #{finalMeasureCheck.cDate} ,
    #{finalMeasureCheck.measureData}, #{finalMeasureCheck.empId},
    #{finalMeasureCheck.result}, #{finalMeasureCheck.note})
  </update>
</mapper>